Source: holland
Section: utils
Priority: optional
Maintainer: Andrew Garner <andrew.garner@rackspace.com>
Build-Depends: debhelper (>= 7.0.50)
Build-Depends-Indep: python (>= 2.6.6-3),
                     python-setuptools (>= 0.6b3-1~),
                     python-sphinx,
                     python-sqlalchemy,
                     python-jinja2,
                     python-argpase | python (>= 2.7)
Homepage: http://hollandbackup.org
Standards-Version: 3.9.2

Package: holland
Architecture: all
Replaces: holland-common (<< 2.0)
Depends: ${python:Depends},
         ${misc:Depends},
         python-pkg-resources,
         python-sqlalchemy,
         python-argparse
Description: pluggable backup manager
 Pluggable backup framework which focuses on, but is not limited to, highly
 configurable database backups.

Package: holland-mysql
Architecture: all
Replaces: holland-mysqldump (<< 2.0),
          holland-xtrabackup (<< 2.0)
Depends: ${python:Depends},
         ${misc:Depends},
         holland (>= ${source:Version}),
         python-sqlalchemy
Description: Holland MySQL backup and utility plugins
 This package provides the holland mysql plugins.

Package: holland-lvm
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         holland (>= ${source:Version})
Description: Holland LVM backup and utility plugins
 This package provides plugins for generating backups via lvm snapshots.

Package: holland-mysql-lvm
Architecture: all
Replaces: holland-mysqllvm (<< 2.0)
Depends: ${python:Depends},
         ${misc:Depends},
         holland (>= ${source:Version}),
         holland-lvm (>= ${source:Version}),
         holland-mysql (>= ${source:Version})
Description: Holland LVM backup plugins for MySQL databases
 This package provides plugins for generating MySQL backups via lvm snapshots.

Package: holland-pgsql
Architecture: all
Replaces: holland-pgdump (<< 2.0)
Depends: ${python:Depends},
         ${misc:Depends},
         holland (>= ${source:Version}),
         python-psycopg2 (>= 2.0.13)
Description: Holland Postgresql backup and utility plugins
 This package provides the holland postgres plugins.
